.footer {
    position: relative;
}
.copyright {
    float:left;
    color:#fff;
    padding:25px 10px 10px 10px;
}
.kraken {
    float:right;
    padding:10px;
}


@media only screen and (max-width: 600px) {
    .copyright, .kraken {
        text-align: center;
        width: 100%;
    }
}